@font-face {
    font-family: "Raleway_bold";
    font-weight: 400;
    src: url(fonts/Raleway/Raleway-v4020-Bold.otf);
}
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url(fonts/Raleway/Raleway.ttf);
}
html {
    scroll-behavior: smooth;
}
.cross {
    cursor: grab;
}
label:active{
    background-color: #376B44;
    color: #FFFFFF;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    font-family: Raleway;
    font-size: 15px;
    color: #2C2D35;
}
.img1 {
    transition: all 0.1s ease;
}
   
.img1:hover {
    width: 98%;
    height: 98%;
}
button:hover {
    background-color: rgb(50, 110, 0);
    color: #FFFFFF;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.heder-for{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-right: 165px;
    font-family: Raleway;
    font-size: 23px;
}
.heder_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 165px;
}
.heder_box{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 100px;
    background-color: #E1EDE6;
}
.heder-star{
    width: 35px;
    height: 35px;
}
.heder-tx{
    color: #598D66;
    font-family: Raleway_bold;
    font-size: 20px;
}
.main-info{
    width: 1440px;
    height: 620px;
}
.main_info3{
    margin-top: 30px;
}
.main-bird{
    margin-left: 165px;
}
.main_p11{
        font-size: 60px;
    margin: 0;
    line-height: 110%;
    font-weight: 400;
}
.main_displ{
    display: flex;
}
.main_box{
    width: 540px;
    height: 331px;
    margin-top: 145px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.main_butt{
    width: 227px;
    height: 65px;
    color: #598D66;
    background-color: #FFFFFF;
    border: 2px solid #598D66;
    font-size: 20px;
    margin-top: 60px;
}
.main_tx1{
    color: #86928B;
    font-size: 18px;
    width: 540px;
    height: 54px;
    line-height: 150%;
}
.main_h{
    width: 515px;
    height: 132px;
    margin-bottom: 20px;
}
.gr{
    color: #598D66;
}
p {
    margin: 0;
}
.main-item2{
    width: 1110px;
    margin-top: 69px;
}
.main-info2{
    display: flex;
    justify-content: space-between;
}
.main-info1{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 30px;
}
.fr{
    width: 126px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.gr1{
    width: 135px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
label:hover {
    background: #376B44;
    cursor: pointer;
  }
input[type="radio"]:checked+span {  
    color: #FFFFFF;
    background: #376B44;
}
.ag{
    width: 108px;
    height: 43px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E8D9;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.marg{
    margin-left: 145px;
}
.info2-tx{
    font-size: 40px;
}
.main_grid{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 730px);
    gap: 30px;
    grid-template-areas:
      "content 👾 good" 
      "footer1 footer2 good1";
  }
  
  .item1 {
    grid-area: content;
    background-color: #E1EDE6;
  }

  .item2 {
    grid-area: 👾;
    background-color: #E1EDE6;
  }
  
  .item3 {
    grid-area: good;
    background-color: #E1EDE6;
  }
  .item4 {
    grid-area: footer1;
    background-color: #E1EDE6;
  }
  .item5 {
    grid-area: footer2;
    background-color: #E1EDE6;
  }
  .item6 {
    grid-area: good1;
    background-color: #E1EDE6;
  }
.marg_img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.pad{
    padding: 20px 20px 20px 20px;
}
.main_h3{
    color: #86928B;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}
.main_h2{
    font-size: 30px;
    color: #2C2D35;
    margin-top: 10px;
    margin-bottom: 8px;
}
.main_p{
    font-size: 18px;
    color: #2C2D35;
    margin-bottom: 30px;
}
.main_p1{
    color: #598D66;
    font-size: 24px;
    margin-bottom: 20px;
}
.main_buttt{
    width: 310px;
    height: 65px;
    border: 2px solid #598D66;
    color: #598D66;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1EDE6;
}
.dedu{
    background-image: url(assept/ded.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1275px;
    height: 504px;
    padding-top: 70px;
    padding-left: 165px;
}
.dedu_dis{
    display: flex;
    margin-bottom: 20px;
}
.dedu_but{
    width: 257px;
    height: 65px;
    background-color: #EEDB6D;
    color: #2C2D35;
    font-size: 20px;
}
.dedu_tx{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 150%;
}
.dedu_tx1{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 150%;
}
.dedu_h2{
    gap: 20px;
    width: 421px;
    height: 80px;
}
h1{
    font-weight: 400;
    font-size: 40px;
    color: #F4F6F5;
    line-height: 100%;
    margin: 0;
}
.box2{
    width: 540px;
    height: 210px;
    margin-bottom: 60px;
}
.info5_box{
    width: 1110px;
    height: 440px;
    margin-top: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 165px;
    margin-bottom: 70px;
}
.round{
    display: flex;
    gap: 30px;
    width: 300px;
    height: 80px;
}
.box5{
    width: 635px;
    height: 108px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
}
.dis_box_h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.info5_dis{
    display: flex;
}
.dis_box{
    margin-left: 30px;
    margin-top: 124px;
}
.foot{
    background-color: #E1EDE6;
    height: 168px;
    padding: 23px;
}
h3{
    color: #598D66;
}
.foot_dis{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 35px;
}
.foot_img{
    display: flex;
    gap: 32px;
    width: 132px;
    height: 24px;
}
.foot1{
    display: flex;
}
.foot_dis1{
    margin-left: 165px;
}
.foot_sec{
    margin-left: 115px;
    margin-right: 60px;
}
.foot_sec2{
    margin-right: 60px;
}
.foot_sec4{
    margin-right: 256px;
}
h2{
    margin: 0;
}
.foot_h22{
    color: #2C2D35;
    font-weight: 400;
    margin-bottom: 6px;
}
.num{
    color: #2C2D35;
    font-size: 20px;
    margin-bottom: 8px;
}
.num_p{
    font-size: 18px;
    color: #86928B;
}
.foot_p1{
    margin-bottom: 6px;
    color: #86928B;
}
.col{
    color: #86928B;
}

.dis_lab{
    display: flex;
    gap: 32px;
}
.dis_hard{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.marg_hard{
    margin-top: 31px;
}
  .text1, .text2, .text3, input[name="sco"] {
    display: none;
  }
  
  #pseudoBtn1:checked ~ .text1 {
    display: block;
  }
  
  #pseudoBtn2:checked ~ .text2 {
    display: block;
  }
  
  #pseudoBtn3:checked ~ .text3 {
    display: block;
  }