body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #1F1F1F;
    margin: 0;
}
.content {
    padding: 20px;
    margin: 10px 0;
}
p{
    margin: 0;
}
.header{
    max-width: 100;
    height: 100px;
    display:flex;
    background-color: #E1EDE6;
}
.Ink{
    color: #598D66;
}
.header-1{
    display: flex;
    max-width: 100%;
    height: 45px;
    margin-top: 33px;
    margin-left: 165px;
}
.tog-lab{
    display: inline-block;
    padding: 10px 15px;
    background-color: #598D66;
    border-radius: 25px;
    border: none;
    text-align: center;
    align-content: center;
}
.tog-lab2{
    display: inline-block;
    padding: 10px 15px;
    background-color: #b6e0c1;
    border-radius: 25px;
    border: none;
    text-align: center;
}
.France{
    display: block;
}
.Germany{
    display: none;
}
.England{
    display: none;
}
#toggle-checked ~ .France{
    display: none;
}
#toggle-checked ~ .Germany{
    display: block;
}
.choise{
    display: flex;
    justify-content: center;
}
.header-2{
    display: flex;
    width: 470px;
    height: 24px;
    gap: 58px;
    margin-left: 497px;
    margin-top: 38px;
}
.korzina{
    width: 24px;
}
.header-p{
    width: 100px;
    height: 23px;
    text-align: center;
    margin-top: 6px;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #598D66;
}
.star-1{
    width: 35px;
}
.production{
    height: 620px;
    display: flex;
}
.bird-1{
    width: 540px;
    height: 621px;
    margin-left: 165px;
}
.prod{
    width: 540px;
    height: 331px;
    margin-left: 30px;
    margin-top: 145px;
}
.prod-h1{
    width: 540px;
    height: 132px;
    margin: 0;
}
.new-collection{
    background-image: url('image/fon1.svg');
}
.contries{
    width: 1110px;
    height: 1564px;
}
